
// Geometria

//thin
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria-Thin.otf');
  src: url('../fonts/Geometria/Geometria-Thin.otf') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria-ThinItalic.otf');
  src: url('../fonts/Geometria/Geometria-Thin.otf') format('woff');
  font-weight: 100;
  font-style: italic;
}
//medium
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria-Medium.otf');
  src: url('../fonts/Geometria/Geometria-Medium.otf') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria-MediumItalic.otf');
  src: url('../fonts/Geometria/Geometria-MediumItalic.otf') format('woff');
  font-weight: 500;
  font-style: italic;
}
//light
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria-Light_0.otf');
  src: url('../fonts/Geometria/Geometria-Light_0.otf') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria-LightItalic.otf');
  src: url('../fonts/Geometria/Geometria-LightItalic.otf') format('woff');
  font-weight: 300;
  font-style: italic;
}

//normal
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria-Italic.otf');
  src: url('../fonts/Geometria/Geometria-Italic.otf') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria.otf');
  src: url('../fonts/Geometria/Geometria.otf') format('woff');
  font-weight: 400;
  font-style: normal;
}

//heavy
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria-HeavyItalic.otf');
  src: url('../fonts/Geometria/Geometria-HeavyItalic.otf') format('woff');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria-Geometria-Heavy.otf');
  src: url('../fonts/Geometria/Geometria-Heavy.otf') format('woff');
  font-weight: 900;
  font-style: normal;
}

//extralight
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria-ExtraLightItalic.otf');
  src: url('../fonts/Geometria/Geometria-ExtraLightItalic.otf') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria-ExtraLight.otf');
  src: url('../fonts/Geometria/Geometria-ExtraLight.otf') format('woff');
  font-weight: 200;
  font-style: normal;
}

//extraBlack
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria-ExtraBlackItalic.otf');
  src: url('../fonts/Geometria/Geometria-ExtraBlackItalic.otf') format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria-ExtaBlack.otf');
  src: url('../fonts/Geometria/Geometria-ExtaBlack.otf') format('woff');
  font-weight: 800;
  font-style: normal;
}

//bold
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria-Bold.otf');
  src: url('../fonts/Geometria/Geometria-Bold.otf') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria-BoldItalic.otf');
  src: url('../fonts/Geometria/Geometria-BoldItalic.otf') format('woff');
  font-weight: 700;
  font-style: italic;
}

// Mariad_pro
@font-face {
  font-family: 'Myriad-pro';
  src: url('../fonts/Mariad_pro/MyriadPro-Light.ttf');
  src: url('../fonts/Mariad_pro/MyriadPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad-pro';
  src: url('../fonts/Mariad_pro/MyriadPro-Regular.ttf');
  src: url('../fonts/Mariad_pro/MyriadPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Myriad-pro';
  src: url('../fonts/Mariad_pro/MyriadPro-Bold.otf');
  src: url('../fonts/Mariad_pro/MyriadPro-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}








